*{
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear; 
  color: white;
  background-image: url(.//public/img/bg.png);
  background-repeat: no-repeat;
  background-position: cover;

}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 10px;
  border-bottom: .2rem solid #FF4343;

}


.navbar a {
  align-items: center;
  padding: 10px;
  margin: auto;
}

.navbar a:hover{
  border-bottom: 0.1rem solid #ffc107;
  padding-bottom: 0.5rem ;
  transition: ease-in;
}

#menue{
  display: none;
}

.search-form {
  position: absolute;
  align-items: center;
  display: flex;
  width: 30rem;
  height: 3rem;
  right: 7%;
  top: 115%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

.search-form.active {
  transform: scaleY(1);
top: 85px;
}

.search-form input {
color: white;  font-size: 1.6rem;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: #13131a;
  padding: 0.5rem;
}

.search-form label:hover {
  color: #ffc107;
}



button {
  background: #FF4343;
 padding: 10px;
 margin: 10px;
border-radius: 7px;
  border: none; /* Add this to remove default border */
  color: white; /* Add this to ensure text is visible on red background */
}



.container1{
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  
}

.cards{
  
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  width: 340px;
  height: 167px;
  border: 0.66px solid;

  border-image-source: radial-gradient(
      80.69% 208.78% at 108.28% 112.58%,
      #eabfff 0%,
      rgba(135, 38, 183, 0) 100%
    ),
    radial-gradient(
      80.38% 222.5% at -13.75% -12.36%,
      #98f9ff 0%,
      rgba(255, 255, 255, 0) 100%
    );

  background: url(.png),
    radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(165, 239, 255, 0.2) 0%,
      rgba(110, 191, 244, 0.0447917) 77.08%,
      rgba(70, 144, 213, 0) 100%
    );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(13.1842px);

  border-radius: 20px;

  display: flex;
  padding: 8px;
}

